In [114]:
%run "connessione_db_adventureworksdw.ipynb"

username è uguale a: studente_dapt

## DB AdventureWorksDW

In [119]:
query = "SELECT * FROM dimproduct" #stringa che contiene un'interrogazione SQL
    
#utilizziamo pandas per leggere il result set del mio statement SQL
dimproduct = pd.read_sql(query, db_engine)
display(dimproduct)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [ ]:
# Quanti dati ci sono in totale?

print(dimproduct.shape)                          # numero colonne e righe
print(dimproduct.columns)                        # restituisce tutte le colonne ovvero i metadati
print(dimproduct.head(1))                       
print(dimproduct.tail(1))                       
print(dimproduct.sample(5))                     

print(dimproduct["Color"].unique())              
print(dimproduct["Weight"].mean().round(2))      # restituisce la media del peso dei prodotti
print(dimproduct["Weight"].min())               
print(dimproduct["Weight"].max())               

weight_100 = dimproduct["Weight"] > 100     # variabile dove ho filtrato (masking) per i valori > 100 --> valori booleani
filtrati = dimproduct[weight_100]           # altra variabile per restituire i reali valori (T)
print(filtrati.shape)                       # righe e colonne dei prodotti filtrati

print(dimproduct["DealerPrice"].mean().round(2))     # restituisce la media della colonna DealerPrice

In [150]:
# Qual è il prezzo medio per i prodotti di colore blu?

filtro_colore = dimproduct.loc[:, "Color"] == "Blue"
dimproduct_col_price = dimproduct.loc[filtro_colore, "DealerPrice"]
print("Prezzo medio dei prodotti di colore blu:", dimproduct_col_price.mean().round(2), "$")

Prezzo medio dei prodotti di colore blu: 516.06 $

In [ ]:
# Qual è il prezzo medio per i prodotti di colore rosso o nero?  --> OR --> | (per Pandas)

rosso_nero = (dimproduct["Color"] == "Red") | (dimproduct["Color"] == "Black")  
product_red_black = dimproduct[rosso_nero]             # oppure con il metodo '.isin' --> dimproduct["Color"].isin(["Red", "Black"])
print(product_red_black["DealerPrice"].mean().round(2)

In [383]:
# Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
# Qual è il nome inglese e il costo di produzione (StandardCost)

filtro_42 = dimproduct["Size"] == "42"     # la taglia l'hanno inserita come 'str'
filtro_peso = dimproduct["Weight"] > 10
filtro_42_peso = filtro_42 & filtro_peso

df_dimpr_filtrato = dimproduct.loc[filtro_42_peso, ["EnglishDescription", "StandardCost"]]
display(df_dimpr_filtrato.sort_values("StandardCost"))
print("\nIl prezzo massimo dei prodotti di taglia 42 e peso oltre i 10 Kg é:\n", df_dimpr_filtrato.sort_values("StandardCost").tail(1), "\n\n")

filtro_col = dimproduct["Color"] == "Silver"
filtro_row = filtro_42 & filtro_peso & filtro_col
filtro_col = ["EnglishDescription", "StandardCost"]

print(f"\nLa tabella visualizzara sopra restiuisce i prodotti di color argento, della taglia 42 e con peso oltre i 10 Kg.\n\n {display(dimproduct.loc[filtro_row, filtro_col])}")

                                    EnglishDescription  StandardCost
596  Suitable for any type of riding, on or off-roa...        294.58
591  Suitable for any type of riding, on or off-roa...        308.22
588  This bike delivers a high-level of performance...        419.78
384  Same technology as all of our Road series bike...        605.65
385  Same technology as all of our Road series bike...        713.08
580  Cross-train, race, or just socialize on a slee...       1082.51
359  Serious back-country riding. Perfect for all l...       1105.81
353  Serious back-country riding. Perfect for all l...       1117.86
360  Serious back-country riding. Perfect for all l...       1251.98
354  Serious back-country riding. Perfect for all l...       1265.62
348  Top-of-the-line competition mountain bike. Per...       1898.09
344  Top-of-the-line competition mountain bike. Per...       1912.15

Il prezzo massimo dei prodotti di taglia 42 e peso oltre i 10 Kg é:
                                     EnglishDescription  StandardCost
344  Top-of-the-line competition mountain bike. Per...       1912.15

                                    EnglishDescription  StandardCost
344  Top-of-the-line competition mountain bike. Per...       1912.15
353  Serious back-country riding. Perfect for all l...       1117.86
354  Serious back-country riding. Perfect for all l...       1265.62
588  This bike delivers a high-level of performance...        419.78
591  Suitable for any type of riding, on or off-roa...        308.22

La tabella visualizzara sopra restiuisce i prodotti di color argento, della taglia 42 e con peso oltre i 10 Kg.

 None

In [145]:
dimproduct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB

In [156]:
# Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 20 elementi 
#  del dataset: c'è un pattern? C'è qualche elemento che non lo segue?


dimproduct.tail(20)[["StandardCost", "DealerPrice"]]   # seleziono più tabelle --> devo creare una lista!

     StandardCost  DealerPrice
586        419.78      461.694
587        419.78      461.694
588        419.78      461.694
589        419.78      461.694
590        308.22      338.994
591        308.22      338.994
592        308.22      338.994
593        308.22      338.994
594        308.22      338.994
595        294.58      323.994
596        294.58      323.994
597        294.58      323.994
598        294.58      323.994
599        294.58      323.994
600         23.97       32.394
601         44.95       60.744
602         53.94       72.894
603        343.65      323.994
604        343.65      323.994
605        343.65      323.994

In [ ]:
# prova di estrazione con 'dimproduct' 

filtro_row.to_excel("dimproduct.xlsx", sheet_name = "statistics")

## AMAZON

In [180]:
amazon = pd.read_csv("Databases/amazon.csv")

amazon.info()    # ci sono degli interi -> potrei fare dei calcoli? NO -> sono dei codici! --> CATEGORICA!!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reviewText  20000 non-null  object
 1   Positive    20000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 312.6+ KB

In [198]:
print(amazon.shape)
display(amazon.sample(5))
print(amazon.columns)

(20000, 2)

                                              reviewText  Positive
18171  i also like this game. cause it is from the or...         1
14697  Do not install on LG Optimus. Made my phones m...         0
16831  This app. Is best suited for the veiwer who wa...         1
9246   I once built a Heathkit calculator, that used ...         1
18635  I PURCHASED THIS HORRENDOUS APP IN JAN. 2013, ...         0

Index(['reviewText', 'Positive'], dtype='object')

Il dataset è 'BILANCIATO' --> oserviamo delle caratteristiche particolari? Dovrei avere lo stesso numero di righe per le caratteristiche di un prodotto e di un altro.

--> potremmo contare i valori.  --> contare gli 1 e gli 0.

In [385]:
# Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

amazon["Positive"].value_counts()    # n° per 1 e 0.  --> molte più positive (15.233) e 4.767 negative.

# type(amazon["Positive"])    -> diventa una Serie perchè restituisce solo una colonna.
#manca una riga

Positive
1    15233
0     4767
Name: count, dtype: int64

In [ ]:
for review in amazon.iloc[0:10, 0]:
    print(review, "\n")        # le review sono DATI NON STRUTTURATI!! --> potrebbero esserci problemi di battitura,
                               #  e quindi non potrei cercare per parola, potrebbe non essere semplice.

## DATI DIABETES

In [206]:
diabetes = pd.read_csv("Databases/diabetes.csv")

In [208]:
diabetes.head(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [210]:
diabetes.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [387]:
# restituisco per ogni fascia d'età.
# Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

filtro_10 = diabetes["Age (years)"] < 20
filtro_20 = (20 <= diabetes["Age (years)"]) & (diabetes["Age (years)"] <= 29)   # metto <= nella prima parentesi perchè voglio fare il 'compreso' -> MA devo mettere una '&'
filtro_30 = (30 <= diabetes["Age (years)"]) & (diabetes["Age (years)"] <= 39)
filtro_40 = (40 <= diabetes["Age (years)"]) & (diabetes["Age (years)"] <= 49)
filtro_50 = diabetes["Age (years)"] >= 50
dpb10 = diabetes.loc[filtro_10, "Diastolic blood pressure (mm Hg)"].mean()
dpb20 = diabetes.loc[filtro_20, "Diastolic blood pressure (mm Hg)"].mean()
dpb30 = diabetes.loc[filtro_30, "Diastolic blood pressure (mm Hg)"].mean()
dpb40 = diabetes.loc[filtro_40, "Diastolic blood pressure (mm Hg)"].mean()
dpb50 = diabetes.loc[filtro_50, "Diastolic blood pressure (mm Hg)"].mean()
print(dpb10, dpb20, dpb30, dpb40, dpb50)

nan 65.34848484848484 69.66666666666667 73.94067796610169 78.37078651685393

In [389]:
# filtro per ogni età e restituisco una media di "Diastolic blood pressure (mm Hg)" e di...  e voglio 'media' e 'mediana', per ogni singolo anno di età.

filtro_diabete = diabetes.groupby("Age (years)")[["Diastolic blood pressure (mm Hg)","2-Hour serum insulin (mu U/ml)"]].agg(["mean","median"])

display(filtro_diabete)

            Diastolic blood pressure (mm Hg)         \
                                        mean median
Age (years)
21                                 65.936508   64.0
22                                 63.722222   65.5
23                                 64.315789   64.0
24                                 64.956522   67.0
25                                 59.666667   62.0
26                                 64.181818   68.0
27                                 73.500000   74.0
28                                 68.314286   72.0
29                                 68.241379   74.0
30                                 64.857143   70.0
31                                 64.375000   72.0
32                                 70.062500   74.0
33                                 65.647059   68.0
34                                 74.000000   73.0
35                                 75.600000   75.0
36                                 69.125000   71.0
37                                 75.947368   78.0
38                                 71.125000   74.0
39                                 72.666667   74.0
40                                 69.230769   74.0
41                                 67.590909   68.0
42                                 73.388889   73.0
43                                 78.461538   76.0
44                                 61.750000   78.0
45                                 83.066667   78.0
46                                 76.000000   76.0
47                                 78.333333   75.0
48                                 78.400000   74.0
49                                 81.400000   85.0
50                                 78.250000   81.0
51                                 84.500000   84.0
52                                 81.500000   78.0
53                                 79.000000   76.0
54                                 89.333333   88.0
55                                 70.250000   71.0
56                                 76.333333   72.0
57                                 76.800000   76.0
58                                 78.285714   78.0
59                                 74.000000   78.0
60                                 80.000000   75.0
61                                 76.000000   76.0
62                                 71.500000   74.0
63                                 78.000000   78.0
64                                 78.000000   78.0
65                                 78.666667   78.0
66                                 86.000000   89.0
67                                 72.666667   78.0
68                                 82.000000   82.0
69                                 81.000000   81.0
70                                 82.000000   82.0
72                                  0.000000    0.0
81                                 74.000000   74.0

            2-Hour serum insulin (mu U/ml)
                                      mean median
Age (years)
21                               73.634921   40.0
22                               74.486111   51.5
23                              118.026316   93.0
24                               88.021739   68.5
25                               82.895833   56.5
26                               90.878788   74.0
27                               63.125000    0.0
28                               94.600000   74.0
29                               88.793103    0.0
30                               82.666667    0.0
31                              111.166667   55.0
32                               35.812500    0.0
33                               85.588235   75.0
34                              148.071429   99.0
35                               75.000000   57.0
36                               65.812500    0.0
37                               59.263158    0.0
38                               33.500000    0.0
39                               72.416667   62.0
40                               72.307692    0.0
41                               38.818182    0.0
42                               61.277778    0.0
43                              125.153846  110.0
44                               32.250000    0.0
45                               31.133333    0.0
46                              112.307692    0.0
47                               49.166667   24.5
48                               52.000000   54.0
49                               55.200000    0.0
50                               26.375000    0.0
51                              129.375000  148.0
52                               94.500000    0.0
53                              183.000000  165.0
54                               61.000000    0.0
55                               83.750000   72.5
56                               69.000000    0.0
57                               78.000000    0.0
58                              167.857143  265.0
59                              282.000000    0.0
60                              164.200000    0.0
61                               95.000000   95.0
62                                0.000000    0.0
63                               45.000000    0.0
64                                0.000000    0.0
65                                0.000000    0.0
66                                0.000000    0.0
67                                0.000000    0.0
68                                0.000000    0.0
69                                0.000000    0.0
70                                0.000000    0.0
72                                0.000000    0.0
81                               60.000000   60.0

## DATI INSURANCE

In [233]:
ins = pd.read_csv("Databases/insurance.csv")

In [237]:
ins.shape

(1338, 7)

In [239]:
ins["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [391]:
# Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
# si possono fare dei filtri

filtro_sw = ins["region"] == "southwest"
filtro_se = ins["region"] == "southeast"
filtro_nw = ins["region"] == "northwest"
filtro_ne = ins["region"] == "northeast"
ch_sw = ins.loc[filtro_sw, "charges"].mean()
ch_se = ins.loc[filtro_se, "charges"].mean()
ch_nw = ins.loc[filtro_nw, "charges"].mean()
ch_ne = ins.loc[filtro_ne, "charges"].mean()
print("SW", ch_sw)
print("SE", ch_sw)
print("NW", ch_sw)
print("NE", ch_sw)

SW 12346.937377292308
SE 12346.937377292308
NW 12346.937377292308
NE 12346.937377292308

In [303]:
ins.groupby("region")["charges"].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [393]:
# E rispetto a smoker?

ins["smoker"].unique()

array(['yes', 'no'], dtype=object)

In [253]:
filtro_sm_yes = ins["smoker"] == "yes"
filtro_sm_no = ins["smoker"] == "no"
ch_yes = ins.loc[filtro_sm_yes, "charges"].mean()
ch_no = ins.loc[filtro_sm_no, "charges"].mean()
print("Yes", ch_yes)
print("No", ch_no)

Yes 32050.23183153284
No 8434.268297856204

In [395]:
# rispetto a sex?

ins["sex"].unique()

array(['female', 'male'], dtype=object)

In [259]:
filtro_f = ins["sex"] == "female"
filtro_m = ins["sex"] == "male"
ch_f = ins.loc[filtro_f, "charges"].mean()
ch_m = ins.loc[filtro_m, "charges"].mean()
print("F", ch_f)
print("M", ch_m)

F 12569.578843835347
M 13956.751177721893

In [298]:
ins.groupby("sex")["charges"].mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [397]:
# Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

ins["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [301]:
ins.groupby(["region", "smoker", "sex"])["charges"].mean()

region     smoker  sex
northeast  no      female     9640.426984
                   male       8664.042222
           yes     female    28032.046398
                   male      30926.252583
northwest  no      female     8786.998679
                   male       8320.689321
           yes     female    29670.824946
                   male      30713.181419
southeast  no      female     8440.205552
                   male       7609.003587
           yes     female    33034.820716
                   male      36029.839367
southwest  no      female     8234.091260
                   male       7778.905534
           yes     female    31687.988430
                   male      32598.862854
Name: charges, dtype: float64

## DATI POKEMON

In [264]:
poke = pd.read_csv("Databases/pokemon.csv")
poke.shape

(800, 13)

In [266]:
# creazione dell'indicizzazione
poke.set_index("#")

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [268]:
poke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [421]:
# Quali sono i Pokémon leggendari?

filtro_legend = poke["Legendary"]
print(poke[filtro_legend].value_counts(), "\n")    # in automatico prende solo i T
filtro_grass = poke["Type 1"] == "Grass"
filtro = filtro_legend & filtro_grass
print(f"Questi sono i leggendari di tipo 1 Grass. \n {display(poke.loc[filtro])}")

#    Name                      Type 1    Type 2    Total  HP   Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
144  Articuno                  Ice       Flying    580    90   85      100      95       125      85     1           True         1
145  Zapdos                    Electric  Flying    580    90   90      85       125      90       100    1           True         1
639  Terrakion                 Rock      Fighting  580    91   129     90       72       90       108    5           True         1
640  Virizion                  Grass     Fighting  580    91   90      72       90       129      108    5           True         1
642  ThundurusIncarnate Forme  Electric  Flying    580    79   115     70       125      80       111    5           True         1
     ThundurusTherian Forme    Electric  Flying    580    79   105     70       145      80       101    5           True         1
643  Reshiram                  Dragon    Fire      680    100  120     100      150      120      90     5           True         1
644  Zekrom                    Dragon    Electric  680    100  150     120      120      100      90     5           True         1
645  LandorusIncarnate Forme   Ground    Flying    600    89   125     90       115      80       101    5           True         1
     LandorusTherian Forme     Ground    Flying    600    89   145     90       105      80       91     5           True         1
646  Kyurem                    Dragon    Ice       660    125  130     90       130      90       95     5           True         1
     KyuremBlack Kyurem        Dragon    Ice       700    125  170     100      120      90       95     5           True         1
     KyuremWhite Kyurem        Dragon    Ice       700    125  120     90       170      100      95     5           True         1
717  Yveltal                   Dark      Flying    680    126  131     95       131      98       99     6           True         1
718  Zygarde50% Forme          Dragon    Ground    600    108  100     121      81       95       95     6           True         1
719  Diancie                   Rock      Fairy     600    50   100     150      100      150      50     6           True         1
     DiancieMega Diancie       Rock      Fairy     700    50   160     110      160      110      110    6           True         1
720  HoopaHoopa Confined       Psychic   Ghost     600    80   110     60       150      130      70     6           True         1
     HoopaHoopa Unbound        Psychic   Dark      680    80   160     60       170      130      80     6           True         1
638  Cobalion                  Steel     Fighting  580    91   90      129      90       72       108    5           True         1
494  Victini                   Psychic   Fire      600    100  100     100      100      100      100    5           True         1
492  ShayminSky Forme          Grass     Flying    600    100  103     75       120      75       127    4           True         1
381  LatiosMega Latios         Dragon    Psychic   700    80   130     100      160      120      110    3           True         1
146  Moltres                   Fire      Flying    580    90   100     90       125      85       90     1           True         1
150  MewtwoMega Mewtwo X       Psychic   Fighting  780    106  190     100      154      100      130    1           True         1
249  Lugia                     Psychic   Flying    680    106  90      130      90       154      110    2           True         1
250  Ho-oh                     Fire      Flying    680    106  130     90       110      154      90     2           True         1
380  Latias                    Dragon    Psychic   600    80   80      90       110      130      110    3           True         1
     LatiasMega Latias         Dragon    Psychic   700    80   100     120      140      150      110    3           True         1
381  Latios                    Dragon    Psychic   600    80   90      80       130      110      110    3           True         1
383  GroudonPrimal Groudon     Ground    Fire      770    100  180     160      150      90       90     3           True         1
487  GiratinaOrigin Forme      Ghost     Dragon    680    150  120     100      120      100      90     4           True         1
384  Rayquaza                  Dragon    Flying    680    105  150     90       150      90       95     3           True         1
     RayquazaMega Rayquaza     Dragon    Flying    780    105  180     100      180      100      115    3           True         1
385  Jirachi                   Steel     Psychic   600    100  100     100      100      100      100    3           True         1
483  Dialga                    Steel     Dragon    680    100  120     120      150      100      90     4           True         1
484  Palkia                    Water     Dragon    680    90   120     100      150      120      100    4           True         1
485  Heatran                   Fire      Steel     600    91   90      106      130      106      77     4           True         1
487  GiratinaAltered Forme     Ghost     Dragon    680    150  100     120      100      120      90     4           True         1
721  Volcanion                 Fire      Water     600    80   110     120      130      90       70     6           True         1
Name: count, dtype: int64

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

Questi sono i leggendari di tipo 1 Grass.
 None

In [272]:
# I leggendari di tipo 1 Ice o Fire?

filtro_legend = poke["Legendary"]
filtro_ice = poke["Type 1"] == "Ice"
filtro_fire = poke["Type 1"] == "Fire"
filtro = filtro_legend & (filtro_ice | filtro_fire)   # se non avessi le parentesi, avrebbe più peso l'&.
poke.loc[filtro]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
415,378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [423]:
# Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

filtro_gen = poke["Generation"] == 1
filtro_atk = poke["Attack"] > 50
filtro_hp = poke["HP"] < 60
filtro = filtro_gen & filtro_atk & filtro_hp
poke.loc[filtro]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
32,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
37,32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
51,46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
56,51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
61,56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
80,74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
81,75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
89,82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
90,83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
91,84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
98,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
107,99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
114,106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
115,107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
117,109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
126,117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
127,118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
144,133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
151,140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
159,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False

A volte i testi non sono tutti uguali --> quando lo carico con il .read_csv --> potrei dover aggiungere un parametro:
    parametro --> input che posso dare alle funzioi --> es.: ENCODING

Se la struttura non è rispettata (quindi non costruito bene) --> dovrò dirgli io come devono essere separati i valori --> basta aprire il file per capire (non si può inventare)  --> es.: 'sep = ";"'